Deploy an Agent | Week 3A | Eval set up
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Destination:{{ $('No Operation, do nothing').item.json.body.destination }}\nDates:{{ $('No Operation, do nothing').item.json.body.travelDates }}\nVibe:{{ $('No Operation, do nothing').item.json.body.travelVibe }}\nBudget: {{ $('No Operation, do nothing').item.json.body.budget }}",
        "options": {
          "systemMessage": "=Today is {{$now}}.\n\nGiven the weather forecast: {{ JSON.stringify($json.forecast) }}\n\nGive me 3 ideas of what I should do. Always justify these options given the weather forecast.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "ab777c58-4bae-4562-bbfd-e02164139804",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        256
      ],
      "id": "0698cbd8-394a-42f6-93dc-90304286b948",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('No Operation, do nothing').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        272
      ],
      "id": "6fb207e0-47c0-42ca-86e7-bacff2a3c4c9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "f6ce8887c8c4424e8a2115804252703"
            },
            {
              "name": "q",
              "value": "={{ $json.body.destination }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        32
      ],
      "id": "d1ca7ac9-d34a-404d-af60-11fe37683844",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d4608ca-00ef-4239-ae0e-e13684bf5c95",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        32
      ],
      "id": "742ebc0e-0dc8-42d3-ba42-3a29150f7ef9",
      "name": "Webhook",
      "webhookId": "3d4608ca-00ef-4239-ae0e-e13684bf5c95"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        192
      ],
      "id": "759b132a-b124-4f96-bfa7-8c7966bf6743",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "99N3qLHEja36x55x",
          "mode": "list",
          "cachedResultName": "Evals",
          "cachedResultUrl": "/projects/oCqeN7UpUtHS6Coc/datatables/99N3qLHEja36x55x"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        -112,
        -160
      ],
      "id": "ceaa1f8d-7044-4421-8450-e3fd910a6d38",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        272,
        32
      ],
      "id": "19e1332c-1627-4565-81f4-244d21836ee5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        928,
        32
      ],
      "id": "59143ff3-9959-44df-aa93-6f90e7af3785",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "99N3qLHEja36x55x",
          "mode": "list",
          "cachedResultName": "Evals",
          "cachedResultUrl": "/projects/oCqeN7UpUtHS6Coc/datatables/99N3qLHEja36x55x"
        },
        "outputs": {
          "values": [
            {
              "outputName": "agentResponse",
              "outputValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "outputName": "lengthJudge",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1248,
        -112
      ],
      "id": "ebe33392-2069-408d-8dc0-9536c977b150",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"body\": {\n\"destination\": \"{{ $json.destination }}\", \n\"travelDates\": \"{{ $json.travelDates }}\",\n\"travelVibe\": \"{{ $json.travelVibe }}\", \n\"budget\": \"{{ $json.budget }}\", \n\"sessionId\": \"{{ $json.sessionID }}\"  \n} \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -160
      ],
      "id": "c0791a12-b778-46d1-aadf-e8cc696f4d2f",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "hustlebadger.app.n8n.cloud",
          "user-agent": "node",
          "content-length": "138",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "34.75.35.32",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "9bb46547744550b2-ATL",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "34.75.35.32, 104.23.245.127",
          "x-forwarded-host": "hustlebadger.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-77-7df8c744bc-9xngt",
          "x-is-trusted": "yes",
          "x-real-ip": "34.75.35.32"
        },
        "params": {},
        "query": {},
        "body": {
          "destination": "Paris",
          "travelDates": "Jan 10-15",
          "travelVibe": "Relaxing",
          "budget": "$$",
          "sessionId": "f2ec8b4b-bb68-4181-814b-0a0d98aaa04e"
        },
        "webhookUrl": "https://hustlebadger.app.n8n.cloud/webhook-test/c4a0a89c-6208-49dd-bb7c-dd9ed483c210",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ecce7eb81f8fd70e4c5200c82cdcb7c58516d88e35aa4d5ade4a6b248e237a0"
  }
}
