Deploy an Agent | Week 2
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Destination:{{ $('Webhook').item.json.body.destination }}\nDates:{{ $('Webhook').item.json.body.travelDates }}\nVibe:{{ $('Webhook').item.json.body.travelVibe }}\nBudget: {{ $('Webhook').item.json.body.budget }}",
        "options": {
          "systemMessage": "=Today is {{$now}}.\n\nGiven the weather forecast: {{ JSON.stringify($json.forecast) }}\n\nGive me 3 ideas of what I should do. Always justify these options given the weather forecast.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "7bdd2edc-2606-445b-9c99-2f9032ba386f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        352
      ],
      "id": "c7ed0761-0b44-44a2-b63e-ce723f0009f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        288
      ],
      "id": "f4f53914-ea0b-4a1f-b18a-50feb04b228e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "f6ce8887c8c4424e8a2115804252703"
            },
            {
              "name": "q",
              "value": "={{ $json.body.destination }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        32
      ],
      "id": "65e93907-ee66-4c8a-a536-fcd2416752b4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c4a0a89c-6208-49dd-bb7c-dd9ed483c210",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        32
      ],
      "id": "7755c3f0-d7ba-4ff2-a57f-523580ba5f40",
      "name": "Webhook",
      "webhookId": "c4a0a89c-6208-49dd-bb7c-dd9ed483c210"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        32
      ],
      "id": "f3fc0650-aede-4d80-88ec-aae3d7879c15",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "HTTP Request": [
      {
        "location": {
          "name": "Paris",
          "region": "Ile-de-France",
          "country": "France",
          "lat": 48.8667,
          "lon": 2.3333,
          "tz_id": "Europe/Paris",
          "localtime_epoch": 1767966638,
          "localtime": "2026-01-09 14:50"
        },
        "current": {
          "last_updated_epoch": 1767966300,
          "last_updated": "2026-01-09 14:45",
          "temp_c": 6.3,
          "temp_f": 43.3,
          "is_day": 1,
          "condition": {
            "text": "Light rain",
            "icon": "//cdn.weatherapi.com/weather/64x64/day/296.png",
            "code": 1183
          },
          "wind_mph": 20.6,
          "wind_kph": 33.1,
          "wind_degree": 254,
          "wind_dir": "WSW",
          "pressure_mb": 995,
          "pressure_in": 29.38,
          "precip_mm": 0.05,
          "precip_in": 0,
          "humidity": 87,
          "cloud": 100,
          "feelslike_c": 1.5,
          "feelslike_f": 34.7,
          "windchill_c": 2.7,
          "windchill_f": 36.8,
          "heatindex_c": 7.2,
          "heatindex_f": 44.9,
          "dewpoint_c": 1.2,
          "dewpoint_f": 34.1,
          "vis_km": 10,
          "vis_miles": 6,
          "uv": 0.3,
          "gust_mph": 26.1,
          "gust_kph": 41.9
        },
        "forecast": {
          "forecastday": [
            {
              "date": "2026-01-09",
              "date_epoch": 1767916800,
              "day": {
                "maxtemp_c": 7.2,
                "maxtemp_f": 44.9,
                "mintemp_c": 4.5,
                "mintemp_f": 40.1,
                "avgtemp_c": 6.5,
                "avgtemp_f": 43.7,
                "maxwind_mph": 25.3,
                "maxwind_kph": 40.7,
                "totalprecip_mm": 3.39,
                "totalprecip_in": 0.13,
                "totalsnow_cm": 0,
                "avgvis_km": 9,
                "avgvis_miles": 5,
                "avghumidity": 74,
                "daily_will_it_rain": 1,
                "daily_chance_of_rain": 91,
                "daily_will_it_snow": 0,
                "daily_chance_of_snow": 0,
                "condition": {
                  "text": "Patchy rain nearby",
                  "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                  "code": 1063
                },
                "uv": 0
              },
              "astro": {
                "sunrise": "08:42 AM",
                "sunset": "05:14 PM",
                "moonrise": "No moonrise",
                "moonset": "11:32 AM",
                "moon_phase": "Waning Gibbous",
                "moon_illumination": 66,
                "is_moon_up": 1,
                "is_sun_up": 0
              },
              "hour": [
                {
                  "time_epoch": 1767913200,
                  "time": "2026-01-09 00:00",
                  "temp_c": 9.5,
                  "temp_f": 49.2,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21.5,
                  "wind_kph": 34.6,
                  "wind_degree": 244,
                  "wind_dir": "WSW",
                  "pressure_mb": 993,
                  "pressure_in": 29.33,
                  "precip_mm": 0.02,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 72,
                  "cloud": 85,
                  "feelslike_c": 5.7,
                  "feelslike_f": 42.2,
                  "windchill_c": 5.7,
                  "windchill_f": 42.2,
                  "heatindex_c": 9.6,
                  "heatindex_f": 49.2,
                  "dewpoint_c": 4.7,
                  "dewpoint_f": 40.5,
                  "will_it_rain": 1,
                  "chance_of_rain": 89,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 30.3,
                  "gust_kph": 48.7,
                  "uv": 0
                },
                {
                  "time_epoch": 1767916800,
                  "time": "2026-01-09 01:00",
                  "temp_c": 7.9,
                  "temp_f": 46.2,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21.5,
                  "wind_kph": 34.6,
                  "wind_degree": 236,
                  "wind_dir": "WSW",
                  "pressure_mb": 994,
                  "pressure_in": 29.35,
                  "precip_mm": 0.06,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 72,
                  "cloud": 100,
                  "feelslike_c": 3.5,
                  "feelslike_f": 38.2,
                  "windchill_c": 3.5,
                  "windchill_f": 38.2,
                  "heatindex_c": 7.9,
                  "heatindex_f": 46.1,
                  "dewpoint_c": 3.2,
                  "dewpoint_f": 37.8,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 30,
                  "gust_kph": 48.3,
                  "uv": 0
                },
                {
                  "time_epoch": 1767920400,
                  "time": "2026-01-09 02:00",
                  "temp_c": 7.5,
                  "temp_f": 45.4,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21.3,
                  "wind_kph": 34.2,
                  "wind_degree": 235,
                  "wind_dir": "SW",
                  "pressure_mb": 994,
                  "pressure_in": 29.35,
                  "precip_mm": 0.03,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 70,
                  "cloud": 100,
                  "feelslike_c": 3,
                  "feelslike_f": 37.3,
                  "windchill_c": 3,
                  "windchill_f": 37.3,
                  "heatindex_c": 7.5,
                  "heatindex_f": 45.4,
                  "dewpoint_c": 2.4,
                  "dewpoint_f": 36.2,
                  "will_it_rain": 0,
                  "chance_of_rain": 64,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 28.2,
                  "gust_kph": 45.4,
                  "uv": 0
                },
                {
                  "time_epoch": 1767924000,
                  "time": "2026-01-09 03:00",
                  "temp_c": 7.7,
                  "temp_f": 45.8,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 24.6,
                  "wind_kph": 39.6,
                  "wind_degree": 236,
                  "wind_dir": "WSW",
                  "pressure_mb": 994,
                  "pressure_in": 29.35,
                  "precip_mm": 0.05,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 66,
                  "cloud": 99,
                  "feelslike_c": 2.9,
                  "feelslike_f": 37.2,
                  "windchill_c": 2.9,
                  "windchill_f": 37.2,
                  "heatindex_c": 7.7,
                  "heatindex_f": 45.8,
                  "dewpoint_c": 1.8,
                  "dewpoint_f": 35.3,
                  "will_it_rain": 1,
                  "chance_of_rain": 80,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 33.6,
                  "gust_kph": 54,
                  "uv": 0
                },
                {
                  "time_epoch": 1767927600,
                  "time": "2026-01-09 04:00",
                  "temp_c": 6.3,
                  "temp_f": 43.3,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 23.7,
                  "wind_kph": 38.2,
                  "wind_degree": 229,
                  "wind_dir": "SW",
                  "pressure_mb": 994,
                  "pressure_in": 29.34,
                  "precip_mm": 0.02,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 78,
                  "cloud": 100,
                  "feelslike_c": 1.1,
                  "feelslike_f": 34.1,
                  "windchill_c": 1.1,
                  "windchill_f": 34.1,
                  "heatindex_c": 6.3,
                  "heatindex_f": 43.3,
                  "dewpoint_c": 2.8,
                  "dewpoint_f": 37.1,
                  "will_it_rain": 1,
                  "chance_of_rain": 78,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 31.6,
                  "gust_kph": 50.9,
                  "uv": 0
                },
                {
                  "time_epoch": 1767931200,
                  "time": "2026-01-09 05:00",
                  "temp_c": 7.2,
                  "temp_f": 44.9,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 25.3,
                  "wind_kph": 40.7,
                  "wind_degree": 236,
                  "wind_dir": "WSW",
                  "pressure_mb": 993,
                  "pressure_in": 29.33,
                  "precip_mm": 0.03,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 67,
                  "cloud": 100,
                  "feelslike_c": 2.1,
                  "feelslike_f": 35.9,
                  "windchill_c": 2.1,
                  "windchill_f": 35.9,
                  "heatindex_c": 7.2,
                  "heatindex_f": 44.9,
                  "dewpoint_c": 1.4,
                  "dewpoint_f": 34.6,
                  "will_it_rain": 0,
                  "chance_of_rain": 65,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 34.2,
                  "gust_kph": 55,
                  "uv": 0
                },
                {
                  "time_epoch": 1767934800,
                  "time": "2026-01-09 06:00",
                  "temp_c": 6.9,
                  "temp_f": 44.4,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 23.9,
                  "wind_kph": 38.5,
                  "wind_degree": 239,
                  "wind_dir": "WSW",
                  "pressure_mb": 993,
                  "pressure_in": 29.34,
                  "precip_mm": 0.04,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 68,
                  "cloud": 100,
                  "feelslike_c": 1.9,
                  "feelslike_f": 35.5,
                  "windchill_c": 1.9,
                  "windchill_f": 35.5,
                  "heatindex_c": 6.9,
                  "heatindex_f": 44.4,
                  "dewpoint_c": 1.4,
                  "dewpoint_f": 34.6,
                  "will_it_rain": 0,
                  "chance_of_rain": 63,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 31.8,
                  "gust_kph": 51.2,
                  "uv": 0
                },
                {
                  "time_epoch": 1767938400,
                  "time": "2026-01-09 07:00",
                  "temp_c": 7.1,
                  "temp_f": 44.9,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 23.9,
                  "wind_kph": 38.5,
                  "wind_degree": 243,
                  "wind_dir": "WSW",
                  "pressure_mb": 994,
                  "pressure_in": 29.34,
                  "precip_mm": 0.05,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 65,
                  "cloud": 100,
                  "feelslike_c": 2.3,
                  "feelslike_f": 36.1,
                  "windchill_c": 2.3,
                  "windchill_f": 36.1,
                  "heatindex_c": 7.2,
                  "heatindex_f": 44.9,
                  "dewpoint_c": 1,
                  "dewpoint_f": 33.7,
                  "will_it_rain": 0,
                  "chance_of_rain": 62,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 32.8,
                  "gust_kph": 52.8,
                  "uv": 0
                },
                {
                  "time_epoch": 1767942000,
                  "time": "2026-01-09 08:00",
                  "temp_c": 6.8,
                  "temp_f": 44.2,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 22.8,
                  "wind_kph": 36.7,
                  "wind_degree": 241,
                  "wind_dir": "WSW",
                  "pressure_mb": 995,
                  "pressure_in": 29.37,
                  "precip_mm": 0.09,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 69,
                  "cloud": 100,
                  "feelslike_c": 1.8,
                  "feelslike_f": 35.3,
                  "windchill_c": 1.8,
                  "windchill_f": 35.3,
                  "heatindex_c": 6.8,
                  "heatindex_f": 44.2,
                  "dewpoint_c": 1.5,
                  "dewpoint_f": 34.8,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 31,
                  "gust_kph": 49.9,
                  "uv": 0
                },
                {
                  "time_epoch": 1767945600,
                  "time": "2026-01-09 09:00",
                  "temp_c": 6.4,
                  "temp_f": 43.5,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21.9,
                  "wind_kph": 35.3,
                  "wind_degree": 241,
                  "wind_dir": "WSW",
                  "pressure_mb": 995,
                  "pressure_in": 29.38,
                  "precip_mm": 0.14,
                  "precip_in": 0.01,
                  "snow_cm": 0,
                  "humidity": 74,
                  "cloud": 100,
                  "feelslike_c": 1.5,
                  "feelslike_f": 34.7,
                  "windchill_c": 1.5,
                  "windchill_f": 34.7,
                  "heatindex_c": 6.4,
                  "heatindex_f": 43.5,
                  "dewpoint_c": 2.1,
                  "dewpoint_f": 35.7,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 29.5,
                  "gust_kph": 47.4,
                  "uv": 0
                },
                {
                  "time_epoch": 1767949200,
                  "time": "2026-01-09 10:00",
                  "temp_c": 6.3,
                  "temp_f": 43.4,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21.7,
                  "wind_kph": 34.9,
                  "wind_degree": 243,
                  "wind_dir": "WSW",
                  "pressure_mb": 995,
                  "pressure_in": 29.4,
                  "precip_mm": 0.06,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 74,
                  "cloud": 100,
                  "feelslike_c": 1.4,
                  "feelslike_f": 34.5,
                  "windchill_c": 1.4,
                  "windchill_f": 34.5,
                  "heatindex_c": 6.3,
                  "heatindex_f": 43.4,
                  "dewpoint_c": 2,
                  "dewpoint_f": 35.6,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 29.3,
                  "gust_kph": 47.2,
                  "uv": 0
                },
                {
                  "time_epoch": 1767952800,
                  "time": "2026-01-09 11:00",
                  "temp_c": 6.4,
                  "temp_f": 43.5,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 21,
                  "wind_kph": 33.8,
                  "wind_degree": 246,
                  "wind_dir": "WSW",
                  "pressure_mb": 996,
                  "pressure_in": 29.41,
                  "precip_mm": 0.05,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 73,
                  "cloud": 100,
                  "feelslike_c": 1.6,
                  "feelslike_f": 34.9,
                  "windchill_c": 1.6,
                  "windchill_f": 34.9,
                  "heatindex_c": 6.4,
                  "heatindex_f": 43.5,
                  "dewpoint_c": 1.9,
                  "dewpoint_f": 35.4,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 28.2,
                  "gust_kph": 45.4,
                  "uv": 0.1
                },
                {
                  "time_epoch": 1767956400,
                  "time": "2026-01-09 12:00",
                  "temp_c": 6.4,
                  "temp_f": 43.5,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 20.8,
                  "wind_kph": 33.5,
                  "wind_degree": 248,
                  "wind_dir": "WSW",
                  "pressure_mb": 996,
                  "pressure_in": 29.41,
                  "precip_mm": 0.09,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 72,
                  "cloud": 100,
                  "feelslike_c": 1.6,
                  "feelslike_f": 34.8,
                  "windchill_c": 1.6,
                  "windchill_f": 34.8,
                  "heatindex_c": 6.4,
                  "heatindex_f": 43.5,
                  "dewpoint_c": 1.8,
                  "dewpoint_f": 35.3,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 27.6,
                  "gust_kph": 44.5,
                  "uv": 0.2
                },
                {
                  "time_epoch": 1767960000,
                  "time": "2026-01-09 13:00",
                  "temp_c": 6.9,
                  "temp_f": 44.5,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 20.8,
                  "wind_kph": 33.5,
                  "wind_degree": 249,
                  "wind_dir": "WSW",
                  "pressure_mb": 996,
                  "pressure_in": 29.4,
                  "precip_mm": 0.06,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 68,
                  "cloud": 100,
                  "feelslike_c": 2.3,
                  "feelslike_f": 36.2,
                  "windchill_c": 2.3,
                  "windchill_f": 36.2,
                  "heatindex_c": 6.9,
                  "heatindex_f": 44.5,
                  "dewpoint_c": 1.4,
                  "dewpoint_f": 34.4,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 27.4,
                  "gust_kph": 44.1,
                  "uv": 0.2
                },
                {
                  "time_epoch": 1767963600,
                  "time": "2026-01-09 14:00",
                  "temp_c": 6.3,
                  "temp_f": 43.3,
                  "is_day": 1,
                  "condition": {
                    "text": "Light rain",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/296.png",
                    "code": 1183
                  },
                  "wind_mph": 20.6,
                  "wind_kph": 33.1,
                  "wind_degree": 254,
                  "wind_dir": "WSW",
                  "pressure_mb": 995,
                  "pressure_in": 29.38,
                  "precip_mm": 0.05,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 87,
                  "cloud": 100,
                  "feelslike_c": 2.7,
                  "feelslike_f": 36.8,
                  "windchill_c": 2.7,
                  "windchill_f": 36.8,
                  "heatindex_c": 7.2,
                  "heatindex_f": 44.9,
                  "dewpoint_c": 1.2,
                  "dewpoint_f": 34.1,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 26.1,
                  "gust_kph": 41.9,
                  "uv": 0.3
                },
                {
                  "time_epoch": 1767967200,
                  "time": "2026-01-09 15:00",
                  "temp_c": 7,
                  "temp_f": 44.7,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 19.7,
                  "wind_kph": 31.7,
                  "wind_degree": 257,
                  "wind_dir": "WSW",
                  "pressure_mb": 996,
                  "pressure_in": 29.4,
                  "precip_mm": 0.02,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 64,
                  "cloud": 66,
                  "feelslike_c": 2.6,
                  "feelslike_f": 36.7,
                  "windchill_c": 2.6,
                  "windchill_f": 36.7,
                  "heatindex_c": 7.1,
                  "heatindex_f": 44.7,
                  "dewpoint_c": 0.8,
                  "dewpoint_f": 33.5,
                  "will_it_rain": 1,
                  "chance_of_rain": 84,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 25.1,
                  "gust_kph": 40.4,
                  "uv": 0.2
                },
                {
                  "time_epoch": 1767970800,
                  "time": "2026-01-09 16:00",
                  "temp_c": 6.4,
                  "temp_f": 43.5,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 18.8,
                  "wind_kph": 30.2,
                  "wind_degree": 259,
                  "wind_dir": "W",
                  "pressure_mb": 996,
                  "pressure_in": 29.41,
                  "precip_mm": 0.09,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 71,
                  "cloud": 100,
                  "feelslike_c": 1.9,
                  "feelslike_f": 35.3,
                  "windchill_c": 1.9,
                  "windchill_f": 35.3,
                  "heatindex_c": 6.4,
                  "heatindex_f": 43.5,
                  "dewpoint_c": 1.6,
                  "dewpoint_f": 34.9,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 24.6,
                  "gust_kph": 39.5,
                  "uv": 0.1
                },
                {
                  "time_epoch": 1767974400,
                  "time": "2026-01-09 17:00",
                  "temp_c": 6,
                  "temp_f": 42.8,
                  "is_day": 1,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/day/176.png",
                    "code": 1063
                  },
                  "wind_mph": 18.8,
                  "wind_kph": 30.2,
                  "wind_degree": 264,
                  "wind_dir": "W",
                  "pressure_mb": 997,
                  "pressure_in": 29.43,
                  "precip_mm": 0.11,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 75,
                  "cloud": 100,
                  "feelslike_c": 1.4,
                  "feelslike_f": 34.4,
                  "windchill_c": 1.4,
                  "windchill_f": 34.4,
                  "heatindex_c": 6,
                  "heatindex_f": 42.8,
                  "dewpoint_c": 1.9,
                  "dewpoint_f": 35.4,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 25,
                  "gust_kph": 40.2,
                  "uv": 0
                },
                {
                  "time_epoch": 1767978000,
                  "time": "2026-01-09 18:00",
                  "temp_c": 5.8,
                  "temp_f": 42.4,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 18.8,
                  "wind_kph": 30.2,
                  "wind_degree": 266,
                  "wind_dir": "W",
                  "pressure_mb": 997,
                  "pressure_in": 29.45,
                  "precip_mm": 0.14,
                  "precip_in": 0.01,
                  "snow_cm": 0,
                  "humidity": 77,
                  "cloud": 100,
                  "feelslike_c": 1,
                  "feelslike_f": 33.9,
                  "windchill_c": 1,
                  "windchill_f": 33.9,
                  "heatindex_c": 5.8,
                  "heatindex_f": 42.4,
                  "dewpoint_c": 2.1,
                  "dewpoint_f": 35.8,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 25,
                  "gust_kph": 40.2,
                  "uv": 0
                },
                {
                  "time_epoch": 1767981600,
                  "time": "2026-01-09 19:00",
                  "temp_c": 5,
                  "temp_f": 41.1,
                  "is_day": 0,
                  "condition": {
                    "text": "Light drizzle",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/266.png",
                    "code": 1153
                  },
                  "wind_mph": 17.2,
                  "wind_kph": 27.7,
                  "wind_degree": 264,
                  "wind_dir": "W",
                  "pressure_mb": 998,
                  "pressure_in": 29.47,
                  "precip_mm": 0.64,
                  "precip_in": 0.03,
                  "snow_cm": 0,
                  "humidity": 87,
                  "cloud": 100,
                  "feelslike_c": 0.3,
                  "feelslike_f": 32.5,
                  "windchill_c": 0.3,
                  "windchill_f": 32.5,
                  "heatindex_c": 5,
                  "heatindex_f": 41.1,
                  "dewpoint_c": 3.1,
                  "dewpoint_f": 37.5,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 2,
                  "vis_miles": 1,
                  "gust_mph": 23,
                  "gust_kph": 36.9,
                  "uv": 0
                },
                {
                  "time_epoch": 1767985200,
                  "time": "2026-01-09 20:00",
                  "temp_c": 4.9,
                  "temp_f": 40.9,
                  "is_day": 0,
                  "condition": {
                    "text": "Light drizzle",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/266.png",
                    "code": 1153
                  },
                  "wind_mph": 17.4,
                  "wind_kph": 28.1,
                  "wind_degree": 267,
                  "wind_dir": "W",
                  "pressure_mb": 999,
                  "pressure_in": 29.5,
                  "precip_mm": 0.22,
                  "precip_in": 0.01,
                  "snow_cm": 0,
                  "humidity": 88,
                  "cloud": 100,
                  "feelslike_c": 0.2,
                  "feelslike_f": 32.3,
                  "windchill_c": 0.2,
                  "windchill_f": 32.3,
                  "heatindex_c": 4.9,
                  "heatindex_f": 40.9,
                  "dewpoint_c": 3.2,
                  "dewpoint_f": 37.8,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 2,
                  "vis_miles": 1,
                  "gust_mph": 24.1,
                  "gust_kph": 38.7,
                  "uv": 0
                },
                {
                  "time_epoch": 1767988800,
                  "time": "2026-01-09 21:00",
                  "temp_c": 5.2,
                  "temp_f": 41.4,
                  "is_day": 0,
                  "condition": {
                    "text": "Patchy rain nearby",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/176.png",
                    "code": 1063
                  },
                  "wind_mph": 18.3,
                  "wind_kph": 29.5,
                  "wind_degree": 270,
                  "wind_dir": "W",
                  "pressure_mb": 999,
                  "pressure_in": 29.51,
                  "precip_mm": 0.09,
                  "precip_in": 0,
                  "snow_cm": 0,
                  "humidity": 80,
                  "cloud": 100,
                  "feelslike_c": 0.4,
                  "feelslike_f": 32.7,
                  "windchill_c": 0.4,
                  "windchill_f": 32.7,
                  "heatindex_c": 5.2,
                  "heatindex_f": 41.4,
                  "dewpoint_c": 2.1,
                  "dewpoint_f": 35.7,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 24.6,
                  "gust_kph": 39.6,
                  "uv": 0
                },
                {
                  "time_epoch": 1767992400,
                  "time": "2026-01-09 22:00",
                  "temp_c": 4.5,
                  "temp_f": 40.1,
                  "is_day": 0,
                  "condition": {
                    "text": "Light drizzle",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/266.png",
                    "code": 1153
                  },
                  "wind_mph": 16.3,
                  "wind_kph": 26.3,
                  "wind_degree": 267,
                  "wind_dir": "W",
                  "pressure_mb": 1000,
                  "pressure_in": 29.53,
                  "precip_mm": 0.75,
                  "precip_in": 0.03,
                  "snow_cm": 0,
                  "humidity": 91,
                  "cloud": 100,
                  "feelslike_c": -0.3,
                  "feelslike_f": 31.5,
                  "windchill_c": -0.3,
                  "windchill_f": 31.5,
                  "heatindex_c": 4.5,
                  "heatindex_f": 40.1,
                  "dewpoint_c": 3.2,
                  "dewpoint_f": 37.7,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 2,
                  "vis_miles": 1,
                  "gust_mph": 22.5,
                  "gust_kph": 36.2,
                  "uv": 0
                },
                {
                  "time_epoch": 1767996000,
                  "time": "2026-01-09 23:00",
                  "temp_c": 4.5,
                  "temp_f": 40.1,
                  "is_day": 0,
                  "condition": {
                    "text": "Light rain shower",
                    "icon": "//cdn.weatherapi.com/weather/64x64/night/353.png",
                    "code": 1240
                  },
                  "wind_mph": 17.2,
                  "wind_kph": 27.7,
                  "wind_degree": 270,
                  "wind_dir": "W",
                  "pressure_mb": 1000,
                  "pressure_in": 29.54,
                  "precip_mm": 0.49,
                  "precip_in": 0.02,
                  "snow_cm": 0,
                  "humidity": 89,
                  "cloud": 100,
                  "feelslike_c": -0.4,
                  "feelslike_f": 31.2,
                  "windchill_c": -0.4,
                  "windchill_f": 31.2,
                  "heatindex_c": 4.5,
                  "heatindex_f": 40,
                  "dewpoint_c": 2.8,
                  "dewpoint_f": 37.1,
                  "will_it_rain": 1,
                  "chance_of_rain": 100,
                  "will_it_snow": 0,
                  "chance_of_snow": 0,
                  "vis_km": 10,
                  "vis_miles": 6,
                  "gust_mph": 23.7,
                  "gust_kph": 38.1,
                  "uv": 0
                }
              ]
            }
          ]
        }
      }
    ],
    "Webhook": [
      {
        "headers": {
          "host": "hustlebadger.app.n8n.cloud",
          "user-agent": "node",
          "content-length": "138",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "34.75.35.32",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "9bb46547744550b2-ATL",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "34.75.35.32, 104.23.245.127",
          "x-forwarded-host": "hustlebadger.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-77-7df8c744bc-9xngt",
          "x-is-trusted": "yes",
          "x-real-ip": "34.75.35.32"
        },
        "params": {},
        "query": {},
        "body": {
          "destination": "Paris",
          "travelDates": "Jan 10-15",
          "travelVibe": "Relaxing",
          "budget": "$$",
          "sessionId": "f2ec8b4b-bb68-4181-814b-0a0d98aaa04e"
        },
        "webhookUrl": "https://hustlebadger.app.n8n.cloud/webhook-test/c4a0a89c-6208-49dd-bb7c-dd9ed483c210",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "instanceId": "5ecce7eb81f8fd70e4c5200c82cdcb7c58516d88e35aa4d5ade4a6b248e237a0"
  }
}
