Deploy an Agent | Week 3B | LLM as Judge
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Destination:{{ $('No Operation, do nothing').item.json.body.destination }}\nDates:{{ $('No Operation, do nothing').item.json.body.travelDates }}\nVibe:{{ $('No Operation, do nothing').item.json.body.travelVibe }}\nBudget: {{ $('No Operation, do nothing').item.json.body.budget }}",
        "options": {
          "systemMessage": "=Today is {{$now}}.\n\nGiven the weather forecast: {{ JSON.stringify($json.forecast) }}\n\nGive me 3 ideas of what I should do. Always justify these options given the weather forecast.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "5a6605e7-e1af-42b0-a79f-2181b987ec28",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        368
      ],
      "id": "f4d2228d-b65a-40d8-a592-35abd2db9b77",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('No Operation, do nothing').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        304
      ],
      "id": "31924ad2-6a91-490c-a030-f4c569329088",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "f6ce8887c8c4424e8a2115804252703"
            },
            {
              "name": "q",
              "value": "={{ $json.body.destination }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        32
      ],
      "id": "f8bb47e5-f5fd-4b9f-b945-6e4f6014b913",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0ed1bc16-005f-46a1-9fb6-ab0e7c91d82d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        32
      ],
      "id": "bed9877e-be7a-4c34-96c2-f6cf84f0f260",
      "name": "Webhook",
      "webhookId": "0ed1bc16-005f-46a1-9fb6-ab0e7c91d82d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        272
      ],
      "id": "763ff005-390e-401e-bd67-d85076ed15ec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "99N3qLHEja36x55x",
          "mode": "list",
          "cachedResultName": "Evals",
          "cachedResultUrl": "/projects/oCqeN7UpUtHS6Coc/datatables/99N3qLHEja36x55x"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        -112,
        -176
      ],
      "id": "4c1bb515-1c91-4a72-a675-f3a62e087012",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "9c20d0bc-9f59-40d1-aa7a-ee17ab77dcf1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        928,
        32
      ],
      "id": "4feac6e6-19a7-4717-8345-2b08e6dbc1ab",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "99N3qLHEja36x55x",
          "mode": "list",
          "cachedResultName": "Evals",
          "cachedResultUrl": "/projects/oCqeN7UpUtHS6Coc/datatables/99N3qLHEja36x55x"
        },
        "outputs": {
          "values": [
            {
              "outputName": "agentResponse",
              "outputValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "outputName": "lengthJudge",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1456,
        -160
      ],
      "id": "1864248c-cabf-4644-9119-499c967afe6d",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"body\": {\n\"destination\": \"{{ $json.destination }}\", \n\"travelDates\": \"{{ $json.travelDates }}\",\n\"travelVibe\": \"{{ $json.travelVibe }}\", \n\"budget\": \"{{ $json.budget }}\", \n\"sessionId\": \"{{ $json.sessionID }}\"  \n} \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -160
      ],
      "id": "ed3ca523-4fe1-4783-8747-854b4ceef5cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User travel dates: {{ $('No Operation, do nothing').item.json.body.travelDates }}\n\nReturned itinerary: {{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an LLM judge evaluating the output of another agent.\n\nLook at the travel dates and calculate the length of the trip.\n\nIs the itinerary appropriate for the travel dates? Evaluate how long each suggestion will take: half a day, full day, meal.\nIf the amount of suggestions is greater than 25% of length of trip or less than 75% of trip then the trip length is inappropriate.\n\nIgnore the quality of content and other considerations.\n\nReturn an single integer ONLY:\nItinerary length is appropriate = 1\nItinerary length is inappropriate = 0"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        -144
      ],
      "id": "9e06a271-d841-4eca-b077-4fedbace265e",
      "name": "Judge: Length of itinerary"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        32
      ],
      "id": "b6a5e3f4-f298-4f48-a81d-d8b7792a07a9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"lengthJudge\": \"integer\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1328,
        64
      ],
      "id": "8ddf1538-ee7d-41dd-b9d3-9c971ec501c1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "customMetrics",
        "metrics": {
          "assignments": [
            {
              "name": "lengthAppropriateness",
              "value": "={{ $json.output }}",
              "type": "number",
              "id": "69240220-5379-4aa7-ada2-1435d9f1675f"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        1664,
        -160
      ],
      "id": "5721fc66-acfa-4303-9351-1934509b6525",
      "name": "Evaluation2"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Judge: Length of itinerary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Judge: Length of itinerary": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Judge: Length of itinerary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Judge: Length of itinerary",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "hustlebadger.app.n8n.cloud",
          "user-agent": "node",
          "content-length": "138",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "34.75.35.32",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "9bb46547744550b2-ATL",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "34.75.35.32, 104.23.245.127",
          "x-forwarded-host": "hustlebadger.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-77-7df8c744bc-9xngt",
          "x-is-trusted": "yes",
          "x-real-ip": "34.75.35.32"
        },
        "params": {},
        "query": {},
        "body": {
          "destination": "Paris",
          "travelDates": "Jan 10-15",
          "travelVibe": "Relaxing",
          "budget": "$$",
          "sessionId": "f2ec8b4b-bb68-4181-814b-0a0d98aaa04e"
        },
        "webhookUrl": "https://hustlebadger.app.n8n.cloud/webhook-test/c4a0a89c-6208-49dd-bb7c-dd9ed483c210",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ecce7eb81f8fd70e4c5200c82cdcb7c58516d88e35aa4d5ade4a6b248e237a0"
  }
}
